<div class="footer-outer">
  <div class="container footer-inner">
    <ul>
      <li>
        <a
          href="http://www.dbs.com/terms/default.page"
          target="_blank"
          ops="Terms &amp; Conditions"
          >Terms &amp; Conditions</a
        >
        <span>|</span>
      </li>

      <li>
        <a
          href="http://www.dbs.com/privacy/default.page"
          target="_blank"
          ops="Privacy Policy"
          >Privacy Policy</a
        >
        <span>|</span>
      </li>

      <li>
        <a
          href="http://www.dbs.com/fairdealing/default.page"
          target="_blank"
          ops="Fair Dealing Commitment"
          >Fair Dealing Commitment</a
        >
        <span>|</span>
      </li>

      <li>
        <a
          href="/personal/compliance-tax-requirements/index.html"
          target="_blank"
          ops="Compliance with Tax Requirements"
          >Compliance with Tax Requirements</a
        >
      </li>
    </ul>

    <ul>
      <li>©2019 DBS Bank Ltd <span>|</span></li>
      <li>Co. Reg. No. 196800306E</li>
    </ul>
  </div>
</div>
