<div class="my-home-container mat-elevation-z8">
  <div style="padding: 10px">
    <div class="container-fluid ">
      <div class="row no-gutters">
        <div
          class="col-12 home-toprow"
          style="text-align: center; padding: 10px;"
        >
          <h2>Hi {{ currentUser.username }}</h2>
          <h3>Last Login: {{ lastLogin }}</h3>
        </div>
      </div>

      <div class="row no-gutters" style="padding-top: 20px;">
        <div class="col-4">
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <img
            style="width:50px; height:50px;"
            src="../../assets/profile.svg"
          />
          <p>Username: {{ currentUser.username }}</p>
          <p>First Name: {{ currentUser.firstName }}</p>
          <p>Last Name: {{ currentUser.lastName }}</p>
          <p>My ID: {{ currentUser.id }}</p>
          <p>Date of birth: {{ dateOfBirth }}</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <a [routerLink]="['./accounts']"
            ><img
              style="width:50px; height:50px;"
              src="../../assets/account-balance.svg"
            />Deposit Accounts</a
          >
        </div>
        <div class="col-4 d-flex justify-content-center">
          <a [routerLink]="['./customer-messages']"
            ><img
              style="width:50px; height:50px;"
              src="../../assets/mail.svg"
            />
            Messages</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
